svg(xmlns="http://www.w3.org/2000/svg", style="display: none;")
  each icon in icons
    symbol(id=icon.info.id, viewBox="0 0 #{icon.info.width} #{icon.info.height}")
      title #{icon.info.name} icon
      | #{' '}
      | !{icon.data}
