section.hw-projects
  h1.hw-title
    each letter in 'Projects'.split('')
      span(data-text="#{letter}")= letter

  .hw-projects-list
    each project in projects
      dl(id="#{project.id}").hw-projects-item
        dt.hw-projects-cover.hw-projects-cover-lazyload
          span(
            data-original="#{project.cover.path}"
            data-retina="#{project.cover.path}"
            data-alt="#{project.name} cover"
          )= project.name
        dd.hw-projects-content-container
          article.hw-projects-content!= project.markup
          a(href="##{project.id}").hw-projects-close close