section.hw-projects
  h1.hw-title
    each letter in 'Projects'.split('')
      span(data-text="#{letter}")= letter

  .hw-projects-list
    each project in projects
      dl(id="#{project.id}").hw-projects-item
        dt.hw-projects-cover
          span= project.name
          img(src="#{project.cover.path}")
        dd.hw-projects-content-container
          article.hw-projects-content!= project.markup
          a(href="##{project.id}").hw-projects-close close